body{
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

.header-line{
    width: 120rem;
    height: 5rem;
    flex-shrink: 0;
    background: #00558F;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-line::after{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 18px 0 18px;
    border-color: #00558F transparent transparent transparent;
    transform: rotate(0deg);
    position: absolute;
    top: 4.9rem;
    left: 58.9rem;
}

.header-text{
    margin-left: -1.8rem;
    width: clamp(2.5rem, 55%, 75rem);
}

.header-text ul{
    display: flex;
    justify-content: space-around;
}

.header-text ul li{
    color: #FFF;
    list-style: none;
    text-align: center;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header-text ul li a{
    color: #FFF;
    list-style: none;
    text-align: center;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.header-text ul li:nth-child(2){
    text-decoration: underline;
}

.header-underline{
    width: 120rem;
    height: 4.5rem;
    flex-shrink: 0;
    z-index: 1;
    position: absolute;
}

.under-header{
    background-image: url(../header-underline.png);
    width: 120rem;
    height: 24.4375rem;
    flex-shrink: 0;
}

.main-info-holder{
    display: grid;
    grid-template-columns: 10% 60% 10% 15%;
    grid-template-rows: 40rem 50rem;
}

.main-info{
    display: flex;
    width: 73.125rem;
    height: 33.9375rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    margin-top: 2rem;
    grid-area: 1/ 2/ 3;
}

.main-info p{
    color: #00558F;
    text-align: justify;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 112.5% */
    letter-spacing: 0.0625rem;
    text-transform: capitalize;
    margin: 0.3rem;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 14.9375rem;
    height: 83.75rem;
    flex-shrink: 0;
    border-radius: 0rem 0rem 0.9375rem 0.9375rem;
    background: #00558F;
    grid-area: 1/ 4/ 1;
    text-align: center;
}

.sidebar-info p{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 133.333% */
}

.ruki p:nth-child(1){
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem; /* 183.333% */
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.margined{
    margin-bottom: 1.3rem;
}

.margined p{
    margin: 0;
}

.margined-workers{
    margin-bottom: 1.5rem;
}

.margined-workers p{
    margin: 0;
}

.grafik p:first-child{
    color: #007CC4;
    text-align: center;
    font-family: Open Sans;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 150% */
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
}

.grafik p{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 133.333% */
}

.sidebar-workers{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}

.sidebar-worker .Carp{
    width: 7.1875rem;
    height: 7.25rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    background: lightgray 50% / cover no-repeat;
    margin-top: 1rem;
}

.sidebar-worker p:nth-child(2){
    color: #007CC4;
    text-align: center;
    font-family: Open Sans;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.875rem; /* 116.667% */
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
}

.sidebar-worker p{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 112.5% */
}

.under-info-holder{
    grid-area: 2/1/ 2;
}
.line{
    width: 96rem;
    height: 0.9375rem;
    flex-shrink: 0;
    background: #F4CA2F;
}

.kmrk-about{
    width: 96rem;
    display: flex;
}

.kmrk-logo{
    margin-left: 14.5rem;
    margin-top: 1.8rem;
}

.kmrk-map{
    width: 39.25rem;
    height: auto;
    flex-shrink: 0;
    margin-top: 1.9rem;
    margin-left: 7.6rem;
}

footer{
    margin-top: 3.87rem;
}

.footer-line{
    width: 120rem;
    height: 0.9375rem;
    flex-shrink: 0;
    background: #F4CA2F;
}

.footer-info-holder{
    width: 120rem;
    height: 21.9375rem;
    flex-shrink: 0;
    background: #00558F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-info{
    width: 90%;
    display: flex;
    flex-direction: row;
}

.footer-kmrk-logo{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    flex-shrink: 0;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text-info{
    margin-top: 5.13rem;
    margin-left: 2.36rem;
    display: flex;
    width: 35.25rem;
    height: 2.8125rem;
    flex-direction: column;
    justify-content: center;
}

.footer-text-info p{
    color: #F4CA2F;
    font-family: Oswald;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    margin: 0;
}

.footer-text-info ul{
    margin-left: -2.5rem;
}

.footer-text-info ul li{
    list-style: none;
    color: #FFF;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem; /* 125% */
    padding-bottom: 0;
}

.footer-text-info ul li:not(:nth-child(1)){
    padding: 1.5rem;
    padding-bottom: 0;
    padding-left: 0;
}

.look-out-for-us{
    margin-left: 40rem;
}

.look-out-for-us .look-p{
    color: #F4CA2F;
    font-family: Oswald;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.look-out-for-us p svg{
    margin-left: 8rem;
}